# Ignorar node_modules
node_modules/

# Ignorar dist
dist/

# Ignorar .astro
.astro/

# Ignorar configuración de VSCode
.vscode/

# Otras carpetas/archivos temporales
*.log
.DS_Store
.env
.env.production

.netlify/