/* 
* ESTILOS PARA LA SCROLLBAR
*/

.custom-scrollbar::-webkit-scrollbar {
  width: 16px; /* Aumenta el ancho de la scrollbar */
  height: 16px; /* Aumenta la altura en el caso de scroll horizontal */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de la pista de la scrollbar */
  border-radius: 8px; /* Bordes redondeados en la pista */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Color del thumb de la scrollbar */
  border-radius: 8px; /* Bordes redondeados en el thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del thumb cuando se pasa el mouse sobre él */
}
