---
import Layout from "../layouts/BaseLayout.astro";
import { getAuth } from "firebase-admin/auth";
import { app } from "../firebase/server";
import Hero from "../components/Hero.astro";

const auth = getAuth(app);

// Verificar la sesión actual
const sessionCookie = Astro.cookies.get("__session");
if (!sessionCookie) {
  return Astro.redirect("/index");
}

const decodedCookie = await auth.verifySessionCookie(sessionCookie.value);
let user;
if (decodedCookie) {
  try {
    user = await auth.getUser(decodedCookie.uid);
  } catch (error) {
    console.error("Error al obtener el usuario:", error);
    return Astro.redirect("/signin");
  }
}

if (!user) {
  return Astro.redirect("/signin");
}
---

<Layout title="Dashboard">
<Hero title="Bienvenido,"/>
<h1 class="text-xl mx-auto">{user.displayName || "User"}</h1>


  </div>
  <p class="mx-auto">Your email: {user.email}</p>
</Layout>