---
import Layout from '../layouts/Layout.astro';
import Dashboard from '../components/panel-control/dashboard.jsx';
import EditarDenuncias from '../components/panel-control/editarDenuncias.astro';
---


<Layout title="Panel de control - Deuncias">
  <div class="flex flex-row">
    <div class="hidden md:flex">
      <Dashboard />
    </div>
    <EditarDenuncias />
  </div>
</Layout>