---
import Layout from '../layouts/Layout.astro';
import Dashboard from '../components/panel-control/dashboard.jsx';
import EditarDenuncias from '../components/editarDenuncias.astro';
---


<Layout title="Panel de control - Deuncias">
  <div class="flex flex-row">
    <Dashboard />
    <EditarDenuncias />
  </div>
</Layout>