---
import Layout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";

---

<Layout title="Luna - Inicio">
  <h1 class="text-[3rem] text-center p-3 m-2">Bienvenido</h1>
  <hr class="w-[30%] mx-auto border-violet-600">
</Layout>