---
import Layout from '../layouts/Layout.astro';
import Dashboard from '../components/panel-control/dashboard.jsx';
import AddNotasPanel from '../components/panel-control/addNotasPanel.astro';
---


<Layout title="Panel de control - Notas Pizarra">
  <div class="flex flex-row">
    <Dashboard />
    <AddNotasPanel />
  </div>
</Layout>