---

import Layout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Pizarracomponent from "../components/pizarracomponent.astro";

---

<Layout title="Luna - Pizarra">
  <div class="">
    <h1 class="text-[3rem] text-center p-3 m-2">Pizarra</h1>

    <hr class="w-[30%] mx-auto border-violet-600">

    <Pizarracomponent/>
  </div>
</Layout>