---

import Layout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Pizarracomponent from "../components/pizarracomponent.astro";

---

<Layout title="Luna - Pizarra">
  <div class="">
    <Hero title="Pizarra"/>

    <hr class="w-[30%] mx-auto border-violet-600">

    <Pizarracomponent/>
  </div>
</Layout>