---

import Layout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Denuncias from "../components/Denuncias.astro" 

---

<Layout title="Luna - Mi refugio">
  <Hero title="" tagline="" />
  <h1 class="text-[3rem] text-center p-3 m-2">¿Quiere realizar una denuncia?</h1>
  <hr class="w-[30%] mx-auto border-violet-600">
  <smaller class="text-sm text-center m-5">Responda el formulario y nuestro equipo se pondra en contacto contigo.</smaller>
  <Denuncias/>
</Layout>