---

import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro" 

---

<Layout title="Luna - Mi refugio">
  <h1 class="text-[3rem] text-center p-3 m-2">¿Quiere realizar una denuncia?</h1>
  <hr class="w-[30%] mx-auto border-violet-600">
  <smaller class="text-sm text-center m-5">Responda el formulario y nuestro equipo se pondra en contacto con usted.</smaller>
  <Form/>
</Layout>