---
import Layout from "../layouts/Layout-intro.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Registro">
  <div>
    <Hero title="Registro" tagline=" " />
    <div style="text-align: center;">
      <p>¿Ya tienes una cuenta? <a class="hover:text-fuchsia-300 transition-all duration-300 hover:underline" href="/">Iniciar sesión</a></p>

      <form action="/api/auth/register" method="post">
        <p>
          <input type="text" name="name" id="name" class="input-form" placeholder="Nombre"/>
        </p>
        <p>
          <input type="email" name="email" id="email" class="input-form" placeholder="Correo Electrónico"/>
        </p>
        <p>
          <input type="password" name="password" id="password" class="input-form" placeholder="Contraseña"/>
        </p>
        <button type="submit" class="mx-auto flex font-bold bg-violet-800  p-2 rounded-lg hover:bg-violet-950 text-white transition-colors duration-300 border-[1px] border-violet-900">Registrarse</button>

      </form>
    </div>
  </div>
</Layout>
