---
import Layout from '../layouts/Layout.astro';
import Dashboard from '../components/panel-control/dashboard.jsx';
import Edituser from '../components/panel-control/edituser.jsx';
// import { getToken, verifyToken } from '../panel-control/pages/JsonWebToken.js';
import {type DataAPI } from "../components/panel-control/types/DataApi.js";

//EL CODIGO ESTE LO HE TENIDO QUE HACER CON UNA INTERFAZ PUESTO QUE ME DABA FALLOS A LA HORA DE RECOGER LOS DATOS DE LA API
//Si podéis averiguar otra forma más sencilla mejor

// Cogemos el token



    const response = await fetch("http://5.196.26.7:8080/users", {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      }
    });

    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }

    const users = await response.json() as DataAPI ;
    console.log(users);


    let nombre = users.map(user => user.username);
    let id = users.map(user => user.id);  // Usamos directamente el id numérico
    let email = users.map(user => user.email);

---

<Layout title="Modificar Usuarios">
  <div class="flex flex-row">
    <Dashboard />
    <Edituser client:load nombre={nombre}  id={id} email={email} />
    <!--Le pasamos a el componente EditUser el nombre y apellidos como array los cuales contienen la info de la api-->
  </div>
</Layout>