/* Cards.css */
.heart-success {
    color: #63E6BE;
    transition: color 0.3s ease;
  }
  
  .heart-success:hover {
    color: #38c172;
  }
  
  .heart-default {
    color: #B197FC;
    transition: color 0.3s ease;
  }
  
  .heart-default:hover {
    color: #9f7aea; 
  }
  