/* .bordes{
    margin: 0 auto;
    background-image: url('../../public/assets/img/pexels-photo-129733.jpeg');
background-size: cover;

} */

/* .pizarra{
    background-image: url('../../public/assets/backgrounds/bg-main-dark-800w.jpg');
    background-size: 500%
} */