---
import Cards from './cards';
import { type DataAPI  } from "../Types/api";

// const limit = 10;
// const response = await fetch(`http://5.196.26.7:8080/dashboardpizarra?limit=${limit}`, {
//     method: "GET",
//     headers: {
//         "Content-Type": "application/json",
//     },
// });
// const {content :users} = await response.json() as DataAPI;
// console.log(users);

---



<div class="p-5 ">
    <div class='2xl:w-[70%] xl:w-[85%] md:w-[85%] sm:w-[90%] h-[50%] p-3 mx-auto border rounded-xl border-violet-900 mt-14'>
        <div class='pizarra justify-center overflow-hidden overflow-y-scroll h-[34rem] grid sm:grid-cols-2 lg:grid xl:grid-cols-3 2xl:grid-cols-3 gap-6 border rounded-xl border-violet-950 mx-auto'>
            <Cards id={''} text={'Sin detalles'} success={''} nombre={'Titulo'} />
            <Cards id={''} text={'Sin detalles'} success={''} nombre={'Titulo'} />
            <Cards id={''} text={'Sin detalles'} success={''} nombre={'Titulo'} />
            <Cards id={''} text={'Sin detalles'} success={''} nombre={'Titulo'} />
            <Cards id={''} text={'Sin detalles'} success={''} nombre={'Titulo'} />
            <Cards id={''} text={'Sin detalles'} success={''} nombre={'Titulo'} />
            
            <!-- {
                // users.map((user) => (
                //     user.activo == null ? '' : <Cards id={user.id} text={user.texto || 'Sin detalles'} success={user.activo} nombre={user.nombre} />
                ))
            } -->
        </div>
    </div>
</div>

