---
import Cards from './cards';
import { type DataAPI  } from "../Types/api";


const response = await fetch('https://api.spacexdata.com/v5/launches/query', {
    method: "POST",
    headers: {
        "Content-Type": "application/json",
    },
    body: JSON.stringify({
        query: {},
        options:{
            sort: {
                date_unix : "asc"
            },
            limit: 12, 
        },
    }),
});


const {docs : launches} = await response.json() as DataAPI ;
console.log(launches);
if (!launches || launches.length === 0) {
    console.error("No recibe ningun dato");
}

---



<div>
    <div class='xl:w-[60%] md:w-[90%] h-[50%] p-3 mx-auto border rounded-xl border-violet-900 mt-14'>
        <div class='p-3 pizarra justify-center overflow-hidden overflow-y-scroll h-[34rem] grid sm:grid-cols-1 md:grid-cols-3 gap-4 border rounded-xl border-violet-950 mx-auto'>
            {
                launches.map((launch) => (
                    <Cards id={launch.id} text={launch.details || 'Sin detalles'} success={launch.success} />
                ))
            }
        </div>
    </div>
</div>

