---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faPlus } from '@fortawesome/free-solid-svg-icons';
import { faCircleExclamation } from '@fortawesome/free-solid-svg-icons';
---

<div class="flex flex-col bg-[#ffff] w-screen h-screen justify-between">
  <div class="flex flex-row bg-[19a689] p-4 pb-0 pr-8 text-center justify-end">
    <div class="mx-auto font-bold text-4xl items-center gap-3 flex">
      <FontAwesomeIcon icon={faCircleExclamation} className="text-[#0f0c29] size-9" />
      <h1 class="text-[#0f0c29] font-bold underline">DENUNCIAS</h1>
    </div>
    <!-- <button
      class="flex justify-center items-center w-10 h-12 cursor-pointer rounded-md shadow-2xl text-white font-semibold bg-gradient-to-r from-[#51df7b] via-[#0bc467] to-[#049c55] hover:shadow-sm hover:shadow-green-400 hover:scale-105 duration-300 hover:from-[#3ebd73] hover:to-[#32d468]"
    >
      <FontAwesomeIcon icon={faPlus} className="size-4" />
    </button> -->
  </div>
</div>