---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faPlus } from '@fortawesome/free-solid-svg-icons';
import { faCircleExclamation } from '@fortawesome/free-solid-svg-icons';
import { faArrowLeft } from '@fortawesome/free-solid-svg-icons';
---

<div class="flex flex-col bg-[#ffff] w-screen h-screen justify-between text-xs">
  <div class="flex flex-row bg-[19a689] pb-0 pr-4 text-center justify-end items-center">
    <button class="md:hidden hover:bg-slate-300 transition-all duration-300 ml-3 hover:rounded-full">
      <a href="/panel-control">
      <FontAwesomeIcon icon={faArrowLeft} className="text-[#0f0c29] size-14 p-3" />
      </a>
    </button>

    <div class="mx-auto p-auto font-bold text-4xl items-center gap-3 flex p-4">
      
      <FontAwesomeIcon icon={faCircleExclamation} className="text-[#0f0c29] size-5 md:size-10 " />
      <h1 class="text-[#0f0c29] mr-5 font-bold underline text-lg md:text-2xl">DENUNCIAS</h1>
    </div>
  </div>
</div>