---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav-inicio.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<div class="stack backgrounds">
			<Nav />
			<slot />
			<Footer />
		</div>

		<script>
			// Add “loaded” class once the document has completely loaded.
			addEventListener('load', () => document.documentElement.classList.add('loaded'));
		</script>

<style>
	:root {
		.backgrounds{
			background-color: rgb(228, 228, 228);
		}
	}

	:root.theme-dark {
		.backgrounds{
			background-color: rgb(12, 13, 21);
		}
	}

	:root.loaded {

	}
	:root.loaded.theme-dark {

	}


	.backgrounds {
		min-height: 100%;
		isolation: isolate;
	}
</style>
	</body>
</html>
